{{ define "main" }}
  <div class="post">
    {{ if .Params.Cover }}
      {{ if .Params.UseRelativeCover }}
        <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
      {{ else }}
        <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
      {{ end }}
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ if not (eq .Params.Comments "false") }}
      {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
        {{ partial "comments.html" . }}
      {{ end }}
    {{ end }}

    </div>
{{ end }}
